<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.com">
<head>
    <meta charset="UTF-8" />
    <title>Dave's List</title>
</head>
<body>
    <h1>Listing Details</h1>
    <span th:inline="text">Address: [[${room.address}]]<br /></span>
    <span th:inline="text">City: [[${room.city}]]<br /></span>
    <span th:inline="text">State: [[${room.state}]]<br /></span>
    <span th:inline="text">Price: $[[${room.price}]]<br /></span>
    <span th:inline="text">Description: [[${room.description}]]<br /></span>
    <span th:inline="text">Is it Rented? [[${room.isRented}]]<br /></span>
    <span th:inline="text">Cable: [[${room.cable}]]<br /></span>
    <span th:inline="text">Wifi: [[${room.wifi}]]<br /></span>
    <span th:inline="text">Rules: [[${room.rules}]]<br /></span>
    <span th:inline="text">Private Bathroom? [[${room.privBathroom}]]<br /></span>

    <br /><br /><br />
    <a class="btn btn-primary btn-small" href="/" role="button">All Listings</a><br />
<br />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>